@import '../assets/scss/base';

.header {
  background: #281f55;
  box-shadow: 0 4px 12px rgba(17,13,43,.2);
  color: #fff;

  &__wrapper {
    height: 70px;
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 140px;
  }
}
